#Center-element{
   
    font-family: arial,sans-serif;
    color: #222;
    font-size: small;    

  
    position: fixed;
    top:50%;	  
    left: 50%;
   

}
#search-field{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  box-sizing: border-box;
  border-radius: 24px
  
}

